<h1> New Coffee </h1>
<%= form_for @coffee do |f| %>
<%= f.label :name, "Name:" %> <br>
<%= f.text_field :name %> <br><br>
<%= f.label :origin, "Origin:" %> <br>
<%= f.text_field :origin %> <br><br>
<%= f.label :roast, "Roast:" %> <br>
 <%= f.collection_select :roast, Coffee::ROASTS, :to_s, :to_s, 
       :include_blank => true %> <br><br>
<%= f.label :year, "Crop Year:" %> <br>
<%= f.text_field :year %> <br><br>
<h3> Roaster: </h3>
<%= f.fields_for :roasters do |roaster| %>
   <%= roaster.label :name %>
   <%= roaster.text_field :name %> <br>
   <%= roaster.label :state %>
   <%= roaster.text_field :state%> <br>
   <% end %>
<%= f.submit %>
<% end %>
