
<h1> Sign In </h1>
<%= form_for @user, url: '/signin' do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, required:true %><br>
  <%= f.label :password %>
  <%= f.password_field :password, required:true %><br><br>
  <%= f.submit "Sign In" %>
  <% end %>
<br><br>
<a href="/auth/google_oauth2" target="_blank"><img src="https://hosting.photobucket.com/images/pp94/alliricker/btn_google_signin_light_normal_web_2x.png?width=180&height=180&fit=bounds" border="0" alt="btn_google_signin_light_normal_web_2x"/></a>
  
