
<h1> Sign In </h1>
<%= form_for @user, url: '/signin' do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, required:true %><br>
  <%= f.label :password %>
  <%= f.password_field :password, required:true %><br><br>
  <%= f.submit "Sign In" %>
  <% end %>
<br><br>
  <%= link_to "Log In With Google", '/auth/google_oauth2' %>